.header {
  background-color: $primary-color;
  color: $text-color;
  position: relative;
  height: 8em;
  text-align: center;
  line-height: 8em;
}
/* 
@media (max-width: 452px) {
  .header h1 {
    font-size: 150%;
  }
} */