.header {
  background-color: #a59e90;
  color: $text-color;
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Centers items vertically */
  gap: 10%;
  height: 8em;
}

.header-logo {
  height: 100%; /* Makes the logo height match the header */
  width: auto; /* Maintains the aspect ratio */
}
/* 
@media (max-width: 452px) {
  .header h1 {
    font-size: 150%;
  }
} */