@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin: 0 auto;
  max-width: min-content;
  min-width: 400px;
  min-height: 78vh;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 1rem;
  line-height: 1.4;
  font-size: 1.4rem;
}

@media (max-width: 1024px) {
  .main {
    margin: none;
    max-width: none;
    min-width: none;
    min-height: none;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
a {
  color: rgb(188, 196, 173);
}

.header {
  background-color: #a59e90;
  color: #333;
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Centers items vertically */
  gap: 10%;
  height: 8em;
}

.header-logo {
  height: 100%; /* Makes the logo height match the header */
  width: auto; /* Maintains the aspect ratio */
}

/* 
@media (max-width: 452px) {
  .header h1 {
    font-size: 150%;
  }
} */
.bottom-nav {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 4.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background: rgb(188, 196, 173);
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bottom-nav a {
  text-align: center;
  color: #333;
}

.bottom-nav a.active {
  color: #333;
}

.bottom-nav i {
  display: block;
}

.bottom-nav span {
  font-size: 0.7rem;
}

.top-nav {
  position: fixed;
  top: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #999999;
  width: 100%;
  padding: 0.2rem 1rem;
  text-align: center;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
}

.top-nav span {
  position: absolute;
  top: 0.2rem;
  left: 0.8rem;
  color: #0074d9;
}

.top-nav span i {
  float: left;
  font-size: 1.4rem;
  line-height: 1.2;
}

body {
  font-family: "Merriweather", sans-serif;
  background-color: #eee;
}

/* h1,
h2,
h4 {
  font-family: $font-header;
} */
html {
  font-size: 100%;
}

p {
  font-size: 1.4rem;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}
h2 {
  margin-bottom: 0.6rem;
}

h4 {
  margin-bottom: 0.2rem;
  margin-top: 1.8rem;
  line-height: 1.4;
}

h4:first-of-type {
  margin-top: 0.6rem;
}

p {
  margin-top: 0.2rem;
  line-height: 1.4;
}

.button {
  background-color: rgb(188, 196, 173);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: rgb(188, 196, 173);
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(111, 142, 131);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.primary-btn {
  background-color: rgb(111, 142, 131);
  color: #fff;
}

.primary-btn:hover {
  background-color: rgb(91, 122, 111);
}

.secondary-btn {
  margin-top: 10px;
  background-color: #6c757d;
  color: #fff;
}

.secondary-btn:hover {
  background-color: #5a6268;
}

/* .button {
  color: $almost-black;
  background-color: $white;
  background-image: linear-gradient($white, darken($white, 20%));
  border: 1px solid darken($white, 20%);
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  font-family: $font-header;
  font-size: $body-font-size;
  padding: 0.4rem 1rem;
  text-align: center;
  border-radius: 0.2rem;
  line-height: $line-height;
  margin-bottom: $body-font-size * $line-height;
}

.button:hover {
  background-color: darken($white, 30%);
  background-image: none;
}

.button:active {
  background-color: darken($white, 35%);
  background-image: none;
  box-shadow: inset 0 2px 4px
    rgba(red($black), green($black), blue($black), 0.15);
}

.full-width-button {
  width: 100%;
  display: block;
  margin-bottom: $body-font-size * $line-height;
}

.half-width-button {
  width: 50%;
  display: inline-block;
  margin-bottom: $body-font-size * $line-height;
}

.blue-button {
  color: #fff;
  background-color: $blue;
  background-image: linear-gradient($blue, darken($blue, 20%));
  border-color: darken($blue, 20%);
}

.blue-button:hover {
  background-color: darken($blue, 30%);
  background-image: none;
}

.blue-button:active {
  background-color: darken($blue, 35%);
  background-image: none;
}

.red-button {
  color: #fff;
  background-color: $red;
  background-image: linear-gradient($red, darken($red, 20%));
  border-color: darken($red, 20%);
}

.red-button:hover {
  background-color: darken($red, 30%);
  background-image: none;
}

.red-button:active {
  background-color: darken($red, 35%);
  background-image: none;
}

.yellow-button {
  color: #fff;
  background-color: $yellow;
  background-image: linear-gradient($yellow, darken($yellow, 20%));
  border-color: darken($yellow, 20%);
}

.yellow-button:hover {
  background-color: darken($yellow, 30%);
  background-image: none;
}

.yellow-button:active {
  background-color: darken($yellow, 35%);
  background-image: none;
}

.green-button {
  color: #fff;
  background-color: $green;
  background-image: linear-gradient($green, darken($green, 20%));
  border-color: darken($green, 20%);
}

.green-button:hover {
  background-color: darken($green, 30%);
  background-image: none;
}

.green-button:active {
  background-color: darken($green, 35%);
  background-image: none;
}
 */
.input {
  font-size: 1.4rem;
  line-height: 1.4;
  font-family: "Merriweather", sans-serif;
  display: block;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  padding: 0.6rem;
  box-sizing: border-box;
  width: 32rem;
  margin-bottom: 1.4rem;
}

.input:valid {
  border: 1px solid #2ecc40;
}

.input:invalid {
  border: 1px solid #ff4136;
}

.input-label {
  font-weight: bold;
  margin: 2rem 0 0;
  display: block;
}

.input-label:first-of-type {
  margin: 0;
}

.input-label::after {
  content: ":";
}

@media (max-width: 667px) {
  .input {
    width: 100%;
  }
}
.login-form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.login-form .form-group {
  margin-bottom: 15px;
}
.login-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.login-form .form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.login-form .btn-primary {
  background-color: rgb(188, 196, 173);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.login-form .btn-primary:hover {
  background-color: rgb(163.7659574468, 174.6595744681, 143.3404255319);
}

.card-container {
  border: 1px solid rgb(201, 201, 176);
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
}

.card {
  border: 1px solid #ccc;
  width: 100%;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin-bottom: 1.96rem;
}

.card-title {
  font-size: 1.4rem;
  display: block;
  color: #333;
  background-color: rgb(242.4135338346, 242.4135338346, 236.5864661654);
  padding: 4px 12px;
  margin-top: 0;
}

.card-info {
  font-size: 1.12rem;
  color: #444;
  padding: 4px 12px;
}

.table {
  box-sizing: border-box;
  border-collapse: collapse;
  font-size: 1rem;
}
.table th {
  text-align: left;
}
.table td {
  border-top: 1px solid #ccc;
}
.table th,
.table td {
  white-space: nowrap;
  padding: 0.2rem 0.8rem;
}
.table .number-cell {
  text-align: right;
}

.table-scroll {
  width: 100%;
  display: block;
  overflow-x: auto;
}

.table-striped tr:nth-of-type(2n) {
  background-color: #eee;
}

@media only screen and (max-width: 668px) {
  .table-stacked {
    display: block;
  }
  .table-stacked tr {
    display: block;
  }
  .table-stacked thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-stacked tbody {
    display: block;
  }
  .table-stacked td {
    display: block;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: right;
  }
  .table-stacked td::before {
    /* För att visa tabell rubrik */
    content: attr(data-title);
    /* Använder top och left för efterlikna padding */
    position: absolute;
    top: 0.33rem;
    left: 0.33rem;
    width: 45%;
    padding-right: 0.55rem;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .table-stacked td:first-child {
    border-top: 1px solid rgb(201, 201, 176);
  }
}
.toast {
  position: fixed;
  bottom: 50;
  right: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

.toast.visible {
  transform: translateY(0);
  opacity: 1;
}

.toast-body {
  margin: 28px;
  padding: 20px 24px;
  background-color: rgb(201, 201, 176);
  color: #fff;
  border-radius: 4px;
}

.map {
  height: 75vh;
  width: 100%;
}

.canvas {
  margin-bottom: 1em;
  overflow: scroll;
}
